@model List<Nxs.Model.DayReport.DayDetailModel>
<table class="table" style="width:1500px">
    <thead>
        <tr>
            <th width="2%">#</th>
            <th width="10%">日期</th>
            <th width="25%">工作总结</th>
            <th width="20%">个人收获</th>
            <th width="15%">自身问题</th>
            <th width="15%">挑战</th>
            <th width="15%">家务得分</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            int count = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>@(count++)</td>
                    <td>@item.DayReportTime.ToString("yyyy-MM-dd")</td>
                    <td><pre style="word-break:break-all;word-wrap:break-word;">@item.WorkRemark</pre></td>
                    <td><pre style="word-break:break-all;word-wrap:break-word;">@item.PersonalResult</pre></td>
                    <td><pre style="word-break:break-all;word-wrap:break-word;">@item.PersonalQuestion</pre></td>
                    <td><pre style="word-break:break-all;word-wrap:break-word;">@item.Chanllenge</pre></td>
                    <td>@item.HouseScores</td>
                </tr>
            }
        }
    </tbody>
</table>