@using Nxs.Web.Models
@model Nxs.Model.PageDataModel<TUser>
@{
    Layout = null;
}


<div style="width:95%; margin-left:10px;">
    <div class="btn-toolbar list-toolbar">
        <button class="btn btn-success" style="width:100px;">新增</button>
        <button class="btn btn-danger">删除</button>
        <button class="btn btn-warning">编辑</button>
        <div class="btn-group">
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>用户名</th>
                <th>邮箱</th>
                <th>电话号码</th>
                <th>真实姓名</th>
                <th>所属角色</th>
                <th>状态</th>
                <th style="width: 20%;">注册时间</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.DataList != null && Model.DataList.Count > 0)
            {
                var count = 0;
                foreach (var item in Model.DataList)
                {
                    count++;
                    <tr>
                        <td>@count</td>
                        <td>@item.UserName</td>
                        <td>@item.Email</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.RealName</td>
                        <td>@item.Wxin (微信)</td>
                        <td>可用</td>
                        <td>@item.RegisterTime</td>
                    </tr>
                }
            }

        </tbody>
    </table>

</div>
